/* ------ Checkout */

.mainText__title{
    font-size: 30px;
    padding-top: 40px;
}

.checkout{
    width: 100%;

    &__title{
        font-size: 22px;
        color: grey;
        padding-top: 40px;
    
        &--item{
            width: 50%;
        }

        &--price{
            width: 16%;
            text-align: center;
        }
    }
}

.banner{
    width: 100%;
}

.banner img{
    max-width: 100%;
}

.filters{
    display: flex;
    flex-flow: column wrap;
}

